body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    min-height: 100vh;
    background-color: #91b4f0;
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
}

cabecalho{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #18315e;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
}


.lado-esquerdo{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lado-esquerdo img{
    width: 100%;
    max-width: 600px;
    border-radius: 30px;    
}


.lado-direito{
    width: 650px;
    display: flex;
    flex-direction: column;    
}


.topo-formulario{
    background: #ff7c02;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

h1{    
    color: #1e3e75;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}


.cadastro{
    background: #ff7c02;
    padding: 45px;
    border-radius: 30px;    
}
.topo-login img{
    width: 180px;
    height: 220px;
    margin-bottom: 10px;
    image-rendering: pixelated;
    border-radius: 10%;
    margin-left: 25px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 18px;
    margin-bottom: 8px;
    color: #18315e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: bold;
}

input,
textarea{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    background: #f1f1f1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

textarea{
    resize: none;
}

input[type="submit"]{
    margin-top: 30px;
    background: #3b6fc9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

input[type="submit"]:hover{
    transform: scale(1.02);
    background: #3b6fc9;
}
p{
    margin-top: 20px;
    color: #18315e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
}