        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family:Arial;
        }

        body{
            background:#f4f4f4;
            padding:40px;
        }

        .container{
            background:white;
            padding:30px;
            border-radius:10px;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
        }

        .topo{
            display:flex;
            justify-content:space-between;
            align-items:center;
            margin-bottom:20px;
        }

        .btn{
            padding:10px 15px;
            background:#007bff;
            color:white;
            text-decoration:none;
            border-radius:5px;
        }

        table{
            width:100%;
            border-collapse:collapse;
        }

        table th,
        table td{
            padding:15px;
            border-bottom:1px solid #ccc;
            text-align:left;
        }

        .editar{
            background:orange;
            color:white;
            padding:8px 12px;
            text-decoration:none;
            border-radius:5px;
        }

        .excluir{
            background:red;
            color:white;
            padding:8px 12px;
            text-decoration:none;
            border-radius:5px;
        }